#logo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: auto;
    width: auto;
}

#slogan{
    height: 200px;
    width: 200px;
}
strong{
    color: rgb(0, 208, 255);
}